* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Montserrat', sans-serif;
}
/* contenitore principale centrato */
.wrapper {
  width: 80%;
  margin: auto;
}
/* intestazione */
header {
  width: 100%;
}

header > div {
  height: 70px;
  width: 150px;
  display: inline-block;
}

img {
  width: 100%;

}
/* .logo {
  background-image: url(../img/logo.png);
  background-repeat: no-repeat;
  background-size: contain;
} */

nav {
  margin-top: 20px;
}

ul {

}

li  {
  display: inline-block;
  font-weight: 300;
  color: #858585;
  font-size: 12pt;
  margin-right: 10px;
}
a {
  text-decoration: none;
}
 a:hover {
  color: hsl(17deg 17% 75%);
}

/* end intestazione */

/* inizio hero */
header, .hero {
  margin-bottom: 25px;
}

.hero {
  width: 100%;
  height: 500px;
  background-image: url(../img/banner.jpg);
  background-position: center;
  background-repeat: no-repeat;

  background-color: yellow;
}
/* end inizio hero */

/* sezione centrale  */

section {
  width: 100%;
  background-color: blue;
}

.box-titolo {
  width: 100%;
  height: 80px;
  background-color: lightblue;
  margin-bottom: 25px;
}

.row {
  width: 100%;
  height: 825px;
}

.col-left, .col-right {
  float: left;
  width: 25%;
  height: 800px;
  background-color: lightblue;
}

.col-center {
  float: left;
  height: 800px;
  width: 46%;
  background-color: lightblue;
  margin: 0 2%;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}
/* end sezione centrale  */

footer {
  width: 100%;
  height: 100px;
  margin-top: 15px;
  background-color: violet;
}
