* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Montserrat', sans-serif;
}
/* contenitore principale centrato */
.wrapper {
  width: 60%;
  margin: auto;
}

/* intestazione */
header {
  width: 100%;
}

header > div {
  height: 70px;
  width: 150px;
  display: inline-block;
}

img {
  width: 100%;
}

nav {
  margin-top: 20px;
}

li  {
  display: inline-block;
  font-weight: 300;
  color: #858585;
  font-size: 12pt;
  margin-right: 10px;
}
a {
  text-decoration: none;
}
 a:hover {
  color: hsl(17deg 17% 75%);
}
/* end intestazione */

/* hero */
header, .hero {
  margin-bottom: 25px;
}

.hero {
  width: 100%;
  height: 500px;
  background-image: url(../img/banner.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  /* background-color: yellow; */
  border-radius: 15px;
  position: relative;
  z-index: 0;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 15px;
  z-index: 1;
}

.testo-hero {
  width: 50%;
  position: absolute;
  z-index: 2;
  top: 65%;
  left: 5%;
}

h2 {
  font-size: 22pt;
  font-weight: 200;
  color: white;
}

.testo-hero p {
  font-size: 12pt;
  color: white;
  font-weight: 200;
}
/* end hero */

/* sezione centrale  */

section {
  width: 100%;
  /* background-color: blue; */
}

.box-titolo {
  width: 100%;
  /* height: 80px; */
  /* background-color: lightblue; */
  margin-bottom: 25px;
  color: black;
}

h1 {
  font-size: 35px;
}

.row {
  width: 100%;
  height: 825px;
}

.col-left, .col-right {
  float: left;
  width: 25%;
  /* height: 800px; */
  /* background-color: lightblue; */
}

.img-left, .img-center, .img-right {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 200px;
  border-radius: 10px;
  position: relative;
  z-index: 0;

}

.overlay-2 {
  opacity: 0;
  background-color: grey;
  position: absolute;
  height: 200px;
  width: 100%;
  transition: .5s ease;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 15px;
}

.img-left:hover .overlay-2 {
  opacity: 1;
}

.img-left {
  background-image: url(../img/img-1.jpg);
}
.img-center {
  background-image: url(../img/banner-2.jpg);
}
.img-right {
  background-image: url(../img/img-3.jpg);
}
.col-left {
  float: left;
  width: 25%;
}

.col-center {
  float: left;
  height: 800px;
  width: 46%;
  background-color: lightblue;
  margin: 0 2%;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}
/* end sezione centrale  */

footer {
  width: 100%;
  height: 100px;
  margin-top: 15px;
  background-color: violet;
}
